body {
  font-family: sans-serif;
}

.star-rating {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: white;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}
.ratings {
  display: flex;
  flex-direction: row;
}

.gold {
  background-color: gold;
}
